@import "./index-checkout.scss";

.pais-modal-2022{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__background{
        background-color: rgba(255,255,255, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &--image{
            max-width: 505px;
            width: 100%;
        }
    }
    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 505px;
        width: 100%;
        z-index: 2;
        background-position: 100%;
        &--background{
            max-width: 503px;
            position: absolute;
            top: 0;

        }
    }
    &__header{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        margin-bottom: 16px;

        div{
            img{
                width: 90px;
                height: auto;
            }
            p{
                font-family: 'Gotham';
                text-align: center;
            }
        }

        &--bold{
            font-weight: bold;
            margin-top: 27px;
            margin-bottom: 4px;
            line-height: 24px;
            font-size: 18px;
        }

        &--text-highlight{
            display: block;
            font-weight: bold;
            line-height: 18px;
            font-size: 18px;
            background-color: #FFCE44;
            margin-bottom: 14px;
            padding: 0 8px;
        }

        &--paragraph{
            font-family: 'Gotham-Book';
            line-height: 18px;
            font-size: 12px;
            text-align: center;
            margin: 0;
        }

        &--close{
            position: absolute;
            right: 16px;
            top: 13px;
            background-color: transparent;
            border: 0;
            cursor: pointer;
            background-image: url("data:image/svg+xml,%0A%3Csvg id='Grupo_7' data-name='Grupo 7' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12.641' height='12.646' viewBox='0 0 12.641 12.646'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_8' data-name='Retângulo 8' width='12.641' height='12.646' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Grupo_6' data-name='Grupo 6' clip-path='url(%23clip-path)'%3E%3Cpath id='Caminho_8' data-name='Caminho 8' d='M6.327,7.975c-.08.1-.116.16-.163.208Q4.147,10.2,2.128,12.219a1.21,1.21,0,0,1-1.513.266,1.2,1.2,0,0,1-.32-1.825c.055-.065.114-.127.174-.187l4.01-4.011c.042-.042.082-.087.133-.14-.055-.058-.1-.111-.153-.161Q2.433,4.135.409,2.11A1.217,1.217,0,0,1,.126.673,1.2,1.2,0,0,1,2.07.369C2.6.888,3.123,1.42,3.649,1.946L6.173,4.468c.047.046.1.09.151.142.056-.053.1-.1.151-.144Q8.506,2.436,10.537.4a1.2,1.2,0,1,1,1.8,1.6c-.049.055-.1.106-.152.158l-4,4c-.047.047-.1.087-.168.144.066.069.114.121.164.171q2.018,2.019,4.037,4.036a1.236,1.236,0,0,1,.359,1.314,1.207,1.207,0,0,1-1.871.562c-.079-.067-.156-.136-.229-.21q-2.006-2-4.01-4.01a1.848,1.848,0,0,1-.14-.193' transform='translate(0 0)'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            width: 13px;
            height: 13px;
            font-size: 0;
        }
    }

    &__form{
        position: relative;
        background-color: #FFCE44;
        padding: 13px 16px;
        border-radius: 11px;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        z-index: 3;

        &--paragraph{
            font-family: 'Gotham-Book';
            text-align: center;
            font-size: 8px;
            line-height: 9px;
            margin-bottom: 10px;
            margin-top: 8px;
            width: 100%
        }

        button{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 80px;
            height: 25px;
            background-color: #000;
            color: #F6F6F6;

            font-family: 'Gotham-Book';
            font-size: 9px;
            line-height: 12px;
            margin: 0 auto;

        }
    }

    &__input{
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        label{
            font-family: 'Gotham-Book';
            font-size: 9px;
            line-height: 12px;
            white-space: nowrap;
            margin: 0;
        }

        input{
            height: 25px;
            background-color: #fff;
            padding: 8px;
            width: 100%;
            margin: 0;
            margin-left: 12px;
            border: 0;
            border-radius: 0;
            box-shadow: inset 0px 2px 2px 0px rgba(000,000,000,.16)
        }
    }
    &__textarea{
        display: flex;
        flex-direction: column;
        label{
            font-family: 'Gotham-Book';
            font-size: 9px;
            line-height: 12px;
            margin-bottom: 5px;
        }

        textarea{
            height: 68px;
            width: 100%;
            resize: none;
            background-color: #fff;
            padding: 8px;
            border: 0;
            border-radius: 0;
            box-shadow: inset 0px 2px 2px 0px rgba(000,000,000,.16)
        }
    }

    &__fileupload{
        input{
            display: none;
        }
        &--icon{
            background-image: url("data:image/svg+xml,%0A%3Csvg id='Grupo_4' data-name='Grupo 4' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='4.954' height='11.097' viewBox='0 0 4.954 11.097'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_6' data-name='Retângulo 6' width='4.954' height='11.097' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Grupo_3' data-name='Grupo 3' clip-path='url(%23clip-path)'%3E%3Cpath id='Caminho_7' data-name='Caminho 7' d='M0,5.212c0-1.118,0-2.235,0-3.353A1.726,1.726,0,0,1,.841.282,1.663,1.663,0,0,1,2.563.2a1.685,1.685,0,0,1,.971,1.48c.028.541.008,1.084.008,1.626q0,2.614,0,5.228a1.063,1.063,0,1,1-2.123.1c0-.044,0-.088,0-.133q0-3.187,0-6.373a.767.767,0,0,1,.049-.289.318.318,0,0,1,.374-.174.314.314,0,0,1,.268.277,1.234,1.234,0,0,1,.01.215q0,3.145,0,6.29a1.039,1.039,0,0,0,.029.262.323.323,0,0,0,.328.252.326.326,0,0,0,.33-.251.863.863,0,0,0,.029-.229q0-3.3,0-6.606A1.064,1.064,0,0,0,.721,1.657c0,.066-.006.133-.006.2q0,3.353,0,6.705a1.741,1.741,0,0,0,1.162,1.719,1.749,1.749,0,0,0,2.359-1.6c.016-2.169.006-4.337.007-6.506a1.122,1.122,0,0,1,.022-.246.325.325,0,0,1,.354-.259.322.322,0,0,1,.318.281,1.046,1.046,0,0,1,.015.181q0,3.212,0,6.423A2.414,2.414,0,0,1,3.7,10.765,2.46,2.46,0,0,1,.018,8.747C-.018,7.569.011,6.39.011,5.212H0' transform='translate(0 0)'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            width: 8px;
            height: 18px;
            display: inline-block;
            background-size: 100%;
            margin-right: 12.5px;
        }

        &--info{
            font-family: 'Gotham-Book';
            font-size: 9px;
            line-height: 12px;
            display: flex;
            align-items: center;
            span{
                background-color: #fff;
                display: flex;
                flex: 1;
                color: #000;
                padding: 1px 2px;
            }
        }
        &--megabytes{
            font-family: 'Gotham-Book';
            font-size: 8px;
            font-weight: lighter;
            margin-left: 16px;
        }
    }
}
